{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">Programs</h4>

    <a href="{% url 'program-add' %}" class="btn btn-success btn-rounded mb-3">
      Add Program
    </a>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Program Name</th>
          <th>College</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for program in programs %}
        <tr>
          <td>{{ program.prog_name }}</td>
          <td>{{ program.college }}</td>
          <td>{{ program.description|truncatewords:10 }}</td>
          <td>
            <a href="{% url 'program-update' program.id %}">Edit</a> |
            <a href="{% url 'program-delete' program.id %}" class="text-danger">Delete</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4" class="text-center">No records found</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include 'includes/pagination.html' %}
  </div>
</div>
{% endblock %}